<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download de Vídeos do YouTube</title>
    <link rel="icon" type="image/png" href="/favicon">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body class="theme-light">
    <h1>YouTube to MP3</h1>
    <form method="POST" action="/download">
        <label for="url">Link to download:</label>
        <input type="text" name="url" id="url" required>
        <button type="submit">Download</button>
    </form>

    <button id="theme-toggle" onclick="toggleTheme()">Toggle theme</button>

    <script src="script.js"></script>
</body>
</html>

